h1 {
    font-size: 22px;
}

html {
    height: 95%;
}

body {
    width: 99%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

#app {
    width: 100%;
    height: calc(100% - 48px);
    display: grid;
    grid: 20% auto 20% / 1fr 1fr;
    grid-template-areas:
        "contributor file-tree"
        "timeline-container file-tree"
        "time-selector file-tree";
}

#contributor-container {
    grid-area: contributor;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
}

#contributor {
    width: 100%;
    height: 100%;
}

.contributor-selector-container {
    position: absolute;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    opacity: 0.75;
    background: lightgrey;
}

.contributor-selector-container:focus {
    opacity: 1;
    background: white;
}

.contributor-selector-container:focus::placeholder {
    opacity: 0;
}

#file-tree {
    grid-area: file-tree;
    width: 100%;
    height: 100%;
}

.beside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ------------------------------ timeSelectorVis.js ------------------------------- */
.time-selector-container {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 10px 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    grid-area: time-selector;
}

.domain {
    display: none;
}

.months-label {
    font-size: 12px;
}

.time-selector-y-axis {
    transform: translate(0, -3px);
}

.block {
    cursor: pointer;
    stroke: #e0e2e5;
    stroke-width: 0.5;
}

.block:hover {
    stroke: black;
}

.block-selected {
    stroke: #2a9adb;
    stroke-width: 1;
}

.time-selector-active {
    stroke: #2a9adb;
    stroke-width: 1;
}

.contribution-label {
    font-size: 8px;
}

/* ------------------------------ tooltip ------------------------------- */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}


/* ------------------------------ timelineVis.js ------------------------------- */
#timeline-container {
    grid-area: timeline-container;
    width: 100%;
    height: 100%;
}

#timeline {
    width: 100%;
    height: 100%;
}

#time-selector {
    grid-area: time-selector;
}

#granularity-selector-p {
    margin-top: 2px;
    margin-bottom: 2px;
}
.delimPos, .delimNeg {
    fill: rgba(120, 120, 120, 0.5);
    stroke: none;
}

.barPos {
    fill: mediumseagreen;
}

.barNeg {
    fill: orangered;
}

/* ------------------------------ fileTreeVis.js ------------------------------- */
.inner-circle > circle:hover {
  cursor: pointer;
}
