h1 {
    font-size: 22px;
}

html {
    height: 95%;
}

body {
    width: 99%;
    height: 100%;
}

#app {
    width: 100%;
    height: calc(100% - 24px);
    display: grid;
    grid: 30% auto 20% / 1fr 1fr;
    grid-template-areas:
        "contributor file-tree"
        "timeline file-tree"
        "time-selector file-tree";
}

#contributor {
    grid-area: contributor;
    width: 100%;
    height: 100%;
}

#timeline {
    grid-area: timeline;
    width: 100%;
    height: 100%;
}

#time-selector {
    grid-area: time-selector;
    width: 100%;
    height: 100%;
}

#file-tree {
    grid-area: file-tree;
    width: 100%;
    height: 100%;
}

.beside {
    display: flex;
    flex-direction: row;
}

/* Tooltip */

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
  }

  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
  #tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
  }


/* timelineVis.js */
.barPos {
    fill: mediumseagreen;
}

.barNeg {
    fill: orangered;
}